<!DOCTYPE html>
<html>
<head>
    <title>新闻摘要</title>
</head>
<body>
<div id="header">
<h2 align="center">{{ date_done }} 新闻摘要</h2>
</div>
    <div>
        <span>完成日期: {{ date_done }} --- 任务ID: {{ taskid }}</span>
        <div>
            {% for res in result %}
            <h3>主题特征{{ res.index }} - {{ res.pattern }}</h3>
            <div>
                <span>主题相关文章: </span>

                <table border="1" align="center">
                    <tr>
                        <th>文章标题</th>
                        <th>权重</th>
                    </tr>
                    {% for article in res.related_articles %}
                        <tr>
                            <td>{{ article.title }}</td>
                            <td>{{ article.weight }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>
