[[source]]

url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.2"
celery = "==4.0.2"
redis = "*"
django-celery-results = "*"
jieba = "*"
feedparser = "*"
numpy = "*"


[dev-packages]



[requires]

python_version = "3.6"
